<table>
    <tr>
      <th>Kolejność</th>
      <th>News</th>
      <th>Działanie</th>
    </tr>
  
    <tr>
      <td>1</td>
      <td>News jakiś tam Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio eaque, iusto deserunt ratione illum accusamus ab aliquid quaerat reprehenderit qui expedita ullam fuga rerum quasi, obcaecati magnam nostrum facilis aut.
      Enim deserunt saepe quas, officiis vel deleniti illo. Eum officia id voluptatibus aspernatur voluptatem molestias laborum atque, nesciunt delectus sed! Quibusdam fugit ut eius minus ipsa! Qui possimus mollitia dolore.</td>
      <td>usuń</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus amet illo quam nam animi atque, magni necessitatibus nobis voluptatem rerum minima corrupti eum reprehenderit laudantium enim optio iure distinctio ut!
      Reprehenderit error a quod. Quasi vel commodi rem mollitia explicabo molestiae dignissimos, maxime esse iure cupiditate quidem magni porro ratione totam, fugiat obcaecati nulla unde distinctio dolorem ea veniam hic.News jakiś tam Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio eaque, iusto deserunt ratione illum accusamus ab aliquid quaerat reprehenderit qui expedita ullam fuga rerum quasi, obcaecati magnam nostrum facilis aut.
      Enim deserunt saepe quas, officiis vel deleniti illo. Eum officia id voluptatibus aspernatur voluptatem molestias laborum atque, nesciunt delectus sed! Quibusdam fugit ut eius minus ipsa! Qui possimus mollitia dolore.</td>
      <td>usuń</td>
    </tr>
  </table>
  