<table>
  <tr>
    <td colspan="2">
      <input type="text" placeholder="Write something and add news" />
    </td>
    <td><button mat-fab extended>Add news</button></td>
  </tr>

  <tr>
    <th>Kolejność</th>
    <th>News</th>
    <th>Działanie</th>
  </tr>

  <tr>
    <td>1</td>
    <td>
      News jakiś tam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Distinctio eaque, iusto deserunt ratione illum accusamus ab aliquid
      quaerat reprehenderit qui expedita ullam fuga rerum quasi, obcaecati
      magnam nostrum facilis aut. Enim deserunt saepe quas, officiis vel
      deleniti illo. Eum officia id voluptatibus aspernatur voluptatem molestias
      laborum atque, nesciunt delectus sed! Quibusdam fugit ut eius minus ipsa!
      Qui possimus mollitia dolore.
    </td>
    <td>
      <mat-icon>arrow_upward</mat-icon>
      <mat-icon>arrow_downward</mat-icon>
      <mat-icon>edit</mat-icon>
      <mat-icon>delete</mat-icon>
    </td>
  </tr>
</table>
