<table>
  <tr>
    <td colspan="2">
      <input type="text" [(ngModel)]="newContent" placeholder="Write something and add news" />
    </td>
    <td><button mat-fab extended (click)="addNews()">Add news</button></td>
  </tr>

  <tr>
    <th>Kolejność</th>
    <th>News</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let news of newsList; let i = index">
    <td>{{i + 1}}</td>
    <td>{{news.content}}</td>
    <td>
      <mat-icon (click)="moveUp(news)">arrow_upward</mat-icon>
    <mat-icon (click)="moveDown(news)">arrow_downward</mat-icon> 
     <!--<mat-icon (click)="editNews(news)">edit</mat-icon>
      <mat-icon (click)="deleteNews(news._id)">delete</mat-icon> -->
    </td>
  </tr>
</table>