#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Zawijanie kolumn */
  gap: 20px;
  padding-top: 20px;
}

.column {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}