<div class="container">
    <h2>Rejestracja Trenera/Zajęć</h2>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>File</th>
          <th>Action</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr>
          <td>
            <select id="typeSelect" [(ngModel)]="registrationForm.type" name="type" required>
              <option value="" disabled selected>Choose...</option>
              <option *ngFor="let option of optionsAdd" [value]="option.value">{{ option.label }}</option>
            </select>
          </td>
          <td>
            <input type="text" id="name" [(ngModel)]="registrationForm.name" name="name" placeholder="Wpisz nazwę..." required />
          </td>
          <td>
            <input type="file" id="file" (change)="onFileChange($event)" required />
          </td>
          <td>
            <button type="submit" (click)="onSubmit()">Wyślij</button>
          </td>
        </tr>
      </tbody> -->
    </table>
  </div>
  