:host {
    bottom: 0;
    width: 98vw;
    height: 200px;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
  }
  

  .news-logo {
    width: 10vw;
  }
  
  app-news-ticker{
    display: flex;
    width: 82vw;
    background-color: #fff;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    height: 6rem;
      }
  
  .date {
    width: 10vw;
    background-color: black;
    color: #ffffff;
  }
  
  .date{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  