:host {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  // background-image: url("/assets/images/cfb_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
}

.example-flex-container {
  display: flex;
  gap: 1.5rem;
  background-color: #004f4f;
  justify-content: center;
  height: 7rem;
  align-items: center;
  margin-bottom: 6rem;
}

button {
  background-color: #004f4f;
  color: #fff;
  font-size: 1rem;
}

button:hover {
  background-color: #00dddd;
  color: #000;
}

.mat-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
