<div class="navigation">
  <div class="left-col">
    <div class="use">
      Add new activities
      <form action="">

<select name="" id="">
    <option value="" disabled selected hidden>Choose day</option>
    <option value="">Monday</option>
</select>


      </form>











    </div>
    <div class="create">
      Create new
      <form action="">
        <select name="" id="">
          <option value="" disabled selected hidden>
            Chooose activities/coach
          </option>
          <option value="">Activities</option>
          <option value="">Coach</option>
        </select>
        <input type="text" placeholder="Fill the placeholder" />
        <button mat-fab extended>Add +</button>
      </form>
    </div>
  </div>
  <div class="container">
    <nav>
      <button mat-fab extended>Gym schedule</button>
      <button mat-fab extended>Activities</button>
      <button mat-fab extended>Coaches</button>
    </nav>

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente
    explicabo temporibus autem, veritatis inventore totam quo labore unde
    mollitia quas quis quidem eos distinctio consectetur optio tempora
    architecto odio? Beatae repellat nesciunt eum corporis possimus impedit et
    eveniet, accusantium officiis, rerum soluta iure. Perferendis, maxime.
    Architecto, fugit consequuntur! Quisquam sequi laudantium ipsum tempore,
    nulla illo eligendi! Nemo, accusamus modi. Nostrum quaerat quo ullam nulla
    labore, dolor quisquam, quibusdam cumque vel, ea eos est repudiandae dolores
    rerum incidunt eaque exercitationem ipsum molestias iure itaque provident
    soluta molestiae nisi minima! Magnam? Ipsa quo porro excepturi a sequi
    dolorem tempore quibusdam totam accusantium repudiandae quam amet eaque
    expedita omnis, quaerat veritatis, cum, suscipit voluptatibus? Sint
    asperiores quo iure, ea nam cupiditate saepe. Numquam laboriosam cum natus
    sapiente esse repellendus est placeat asperiores, reprehenderit voluptatibus
    vitae blanditiis illum sunt eligendi sed quidem possimus! Saepe ipsa,
    blanditiis voluptas quis non officia nulla corrupti distinctio.
    Consequuntur, sapiente! Perferendis illo maiores molestiae quae, in libero
    nam. Corrupti voluptates molestiae autem quasi laboriosam, voluptatibus enim
    maxime molestias incidunt eius nesciunt! Alias veritatis neque dolorum quae
    veniam saepe! Ducimus architecto laborum adipisci? Quisquam adipisci ea
    sequi maxime fugit et tempore dolor architecto inventore ratione veritatis
    voluptates, a culpa. Ducimus, animi. Voluptates autem eaque neque quod
    ducimus aperiam iure! Non corporis ratione perferendis doloremque ullam
    tempora, voluptatem laudantium error fugiat voluptatibus minus praesentium
    facilis vel sunt, suscipit quis dolores repudiandae vitae consequuntur
    molestiae labore! Iste minus libero eius sequi! Quas veritatis quos aliquid.
    Dolores, ipsa dicta! Est atque rerum incidunt dolorum non hic ipsum
    perferendis, inventore soluta reprehenderit similique repellendus vel autem.
    Quae repellat blanditiis, rerum incidunt molestiae beatae. Natus consequatur
    perspiciatis, provident possimus nam odit ratione tenetur, illo nesciunt
    quas quasi! Maiores accusamus porro modi eaque, cumque sit animi quod nisi
    voluptatum. Saepe qui vitae nesciunt deserunt non.
  </div>
</div>
