.marquee-container {
  white-space: nowrap;
  overflow: visible;
  width: 100%;
  // height: 6rem !important;
  font-size: 4rem !important; /* Nadpisz styl Material */
  line-height: 1 !important; /* Upewnij się, że linia jest odpowiednia */
  font-family: "Impact", sans-serif !important; /* Upewnij się, że masz swoją czcionkę */
}
